.btn_button{
    background-color: #D5A100;
    border: 0.5px solid;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 3px 3px 10px whitesmoke;
    color: #0a285f;
    text-align: center;
}
.btn_button:active{
    transform: translate(3px, 3px);
}

/* .btn_box{
    border: 2px solid blue;
} */