.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.btn_container {
  /* border: 3px solid green; */
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.card_container {
  /* border: 4px solid; */
  display: flex;
  width: 560px;
  height: 300px;
  margin-top: 35px;
  position: relative;
}

.card_container .card:nth-child(1) {
  position: absolute;
  left: 0;
  z-index: 3;
  transform: rotate(-7deg) translateY(15px);
}
.card_container .card:nth-child(1):hover {
  transition: 100ms;
  transform: rotate(-5deg) translateY(0px) translateX(-15px);
  scale: 120%;
}

.card_container .card:nth-child(2) {
  position: absolute;
  left: 180px;
  transform: translateY(5px);
  z-index: 2;
}
.card_container .card:nth-child(2):hover {
  transition: 100ms;
  transform: rotate(0deg) translateY(5px);
  scale: 120%;
  z-index: 3;
}
.card_container .card:nth-child(3) {
  position: absolute;
  left: 360px;
  z-index: 1;
  transform: rotate(7deg) translateY(15px);
}
.card_container .card:nth-child(3):hover {
  transition: 100ms;
  transform: rotate(5deg) translateY(0px) translateX(15px);
  scale: 120%;
  z-index: 3;
}
.card1 {
  transform: rotate(5deg) translate(140px);
}

.card2 {
  transform: rotate(3deg) translate(70px);
}
